ul {
  text-align: center;
}

ul li {
  display: inline;
}
ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

ul li a:hover {
  font-weight: 800;
}

.img1{
  height: 275px;
  width: 150px;
}

#home {
  padding: 20px;
  text-align: center;
}

#project_overview {
  text-align: center;
}

#team_introductions {
  text-align: center;
}
